{{page-title "MyApp"}}
<nav>
  <ul>
        <li><LinkTo @route="index">Acceuil</LinkTo></li>
        <li><LinkTo @route="link">Lien</LinkTo></li>
         <li><LinkTo @route="users">Liste d'utilisateur</LinkTo></li>

  </ul>
</nav>


{{outlet}}


