
<nav>
  <ul>
        <li><LinkTo @route="index">Acceuil</LinkTo></li>
        <li><LinkTo @route="link">Lien</LinkTo></li>
        <li><LinkTo @route="gts-template-works">Test</LinkTo></li>
         <li><LinkTo @route="users">Liste d'utilisateur</LinkTo></li>
        <li><LinkTo @route="long-list">liste</LinkTo></li>

  </ul>
</nav>


{{outlet}}


