{{page-title "New"}}

<h1>Liste des Utilisateurs</h1>
<ul>
  {{#each @model as |p|}}
    <li>
     <Link-to @route="new.new-id" @model={{p.id}}> Utilisateur {{p.id}} </Link-to>
    </li>
  {{/each}}
</ul>

{{outlet}}